body {
  background: rgb(34, 193, 195);
  background: linear-gradient(rgba(34, 193, 195, 1), rgba(253, 187, 45, 1))
    fixed;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 3rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.buzz-controller--frame {
  height: 38rem;
  width: 12rem;
  background: black;
  display: flex;
  flex-direction: column;
}

.buzz-controller--red-button {
  background-color: red;
  clip-path: circle(3rem at 6rem 5rem);
  height: 40%;
}

.buzz-controller--blue-button {
  background-color: blue;
  width: 100%;
  height: 25%;
  outline: 26px black solid;
  outline-offset: -26px;
}

.buzz-controller--orange-button {
  background-color: orangered;
  width: 100%;
  height: 25%;
  outline: 26px black solid;
  outline-offset: -26px;
}

.buzz-controller--green-button {
  background-color: green;
  width: 100%;
  height: 25%;
  outline: 26px black solid;
  outline-offset: -26px;
}

.buzz-controller--yellow-button {
  background-color: yellow;
  width: 100%;
  height: 25%;
  outline: 26px black solid;
  outline-offset: -26px;
}
